* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.container {
    opacity: .5;
    filter: blur(3x);
    user-select: none;
}

.header {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 0 2px 0 rgb(110, 110, 110);
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 2rem;
    margin-right: 10px;
}

.header h1 {
    color: #5f6368;
    font-size: 1.5rem;
    font-weight: 600;
}

.input-form {
    position: relative;
    width: 50%;
    margin: 32px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
    transition: 0.5s;
}

.input-form input {
    width: 100%;
    border: none;
    padding: 8px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
    color: #5f6368;
}

.input-form textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
    color: #5f6368;
}

.input-form button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 18px;
    bottom: -18px;
    background: rgb(99 146 211);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
}

.note {
    background: #ffffff;
    width: 240px;
    border-radius: 7px;
    border: 1px solid #9d9d9dcc;
    padding: 10px;
    margin: 16px;
    float: left;
    margin-right: 0;
    cursor: pointer;
    position: relative;
    color: #5f6368;
}

.note:hover {
    box-shadow: 0 2px 5px rgb(175, 175, 175);
    transform: translate(1);
}

.note p {
    letter-spacing: .00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    padding-top: 12px;
}

.title {
    font-weight: bold;
}

.note .buttons {
    display: flex;
    justify-content: space-between;
}

.note button {
    position: relative;
    float: right;
    color: rgb(99 146 211);
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.note .edit-btn {
    font-size: 1rem;
    font-weight: bold;
}

.note .pin {
    position: absolute;
    right: 11px;
    top: 17px;
}

.count {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: #5f6368;
}

/* Popup */

.popup-form {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    display: flex;
    flex-direction: column;
    padding: 7px;
    transition: 0.5s;
    opacity: 1;
    border: 1px solid #9d9d9dcc;
}

.popup-form input {
    width: 100%;
    border: none;
    padding: 8px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
    color: black;
}


.popup-form textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
    color: black;
}

.popup-form button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 18px;
    bottom: -18px;
    background: rgb(99 146 211);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
}

.popup-open-btn {
    background: rgb(0 107 255) !important;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 500px;
    height: 200px;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: 190px;
    margin-left: -250px;
}

.pagination-btn {
    background: white;
    color: rgb(99 146 211);
    width: 50px;
    height: 25px;
    box-shadow: 0 1px 3px rgb(165 165 165);
    cursor: pointer;
    outline: none;
    margin: 2px 5px;
    border: 1px solid rgb(99 146 211);
}

.active {
    background: rgb(99 146 211);
    color: white;
    width: 50px;
    height: 25px;
    box-shadow: 0 1px 3px rgb(165 165 165);
    cursor: pointer;
    outline: none;
    margin: 2px 5px;
    border: none;
}

.pointer-event {
    pointer-events: none;
}

.sections {
    font-size: 18px;
    margin-left: 178px;
    color: #5f6368;
}

@media (min-width : 650px) {
    .notes {
        justify-content: flex-start;
        margin: 0 10rem;
    }
}



@media (max-width: 425px) {
    .note {
        width: 185px;
    }

    .note .pin {
        right: 3px;
        right: 3px;
    }
}

@media (max-width: 405px) {
    .note {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .sections {
        margin-left: 18px;
    }
}

@media (max-width: 980px) {
    .input-form {
        width: 80%;
    }

    .popup-form {
        width: 80%;
    }
}